@tailwind base;
@tailwind components;
@tailwind utilities;


body {
 margin: 0;
 padding: 0;
}

.custom-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Añade tu sombra personalizada aquí */
  }
